{% extends 'layout.html' %}

{% block body %}
  <div class="bg-light p-5 rounded text-center" style="margin-top: 20px;">
    <h3>Yamina Rezgui</h3>
    <img style=" border-radius: 50%" src="https://media.discordapp.net/attachments/1080491994062790789/1080495415398510654/yamina_yamina_like_robot_9adb5019-9ad2-46b2-871c-99a3d9691a01.png?width=300&height=300" alt="Yamina Rezgui">
    <small></small>
    <p class="lead bg-light" style="margin-top: 30px; ">Yamina Rezgui is a talented and driven computer science student with a passion for innovation and creativity. She is a curious thinker who loves to explore the many facets of technology, programming, and computer science. With a solid foundation in mathematics, Yamina has a strong ability to analyze complex problems and develop innovative solutions. Her enthusiasm for software development is contagious, and she is always eager to share her knowledge and insights with others. Through her blog, Yamina hopes to inspire others to pursue their dreams and passions in the field of computer science. She is a natural leader who is committed to making a difference in the world through her work in technology.</p>
  </div>
{% endblock %}
