{% extends 'layout.html' %}
{% block body %}


    <div class="bg-light p-5 rounded text-center" style="margin-top: 100px;">
      <h1>Welcome to my blog!</h1>
      <p class="lead" style="margin-top: 100px;"> My name is Yamina Rezgui, and I'm a Tunisian girl studying computer science at Isik. I created this blog as a way to share my knowledge and experiences with others who are interested in technology, programming, and computer science. I have a background in mathematics and programming, and I've spent the last few years exploring and learning about new programming languages, algorithms, and software development methodologies. In this blog, I'll be sharing my own experiences as a computer science student, as well as insights from some of the most influential thinkers and creators in the tech industry. Whether you're a fellow student, a software developer, or just someone who's curious about the world of computer science, I hope you'll find something here that inspires you. Thanks for stopping by, and happy reading</p>
 
  </main>
  {%endblock%}